body{
    background-color:#5cf6f9;
    }

    h1{color:#e7d84b; font-family:Helvetica; font-size: 50px;
        text-align: center;}  
p{
    
    color: #f404e0;font-family: Arial; text-shadow: 2cm;
    font-size: 25px;
    text-align: center;
}
img{
        
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
   

